<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1 class="rouge">Erreur !</h1>
    <a href="<%= Rho::Application.startURI %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>

  <div data-role="content">
    <div> 
      <%= $session[:nb_ko]+$session[:nb_ok] %> questions :
      <%= $session[:pour_cent] %> % (poids restants = 
      <%= $session[:liste].count%>)
    </div>

    <form method="POST" action="<%= url_for :action => :question_f %>" data-transition="slidedown">
           
          <h1> Verbe <%= Verbe.find($session[:question].verbe_id).infinitif %> </h1>
          <h1> <%= Forme::CODES[$session[:question].code_forme.to_i][0] %> </h1>
          
          <div data-role="fieldcontain">
            <label for="reponse" class="fieldLabel">Votre reponse</label>
            <input type="text" id="reponse" name="reponse" value="<%= @params["reponse"] %>" readonly/>
          </div>

          <div>
            <%= $session[:question].langue %> (poids<%= $session[:question].poids %>)
          </div>
         
      <input type="submit" value="Autre question" autofocus/>
    </form>
  </div>
</div>