<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Formes</h1>
    <a href="<%= Rho::Application.startURI %>" class="ui-btn-left" data-icon="home" data-direction="reverse" rel='external'>
      Home
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @formes.each do |forme| %>
          <li>
            <a href="<%= url_for :action => :show, :id => forme.object %>">
              <%= Forme::CODES[$session[:langue]][forme.code_forme.to_i][1] %> <%= forme.langue %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>
  
  <div data-role="footer" data-position="inline">
    <%= pagination %>
  </div>
  
</div>
