<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Parametrage</h1>
    <a href="<%= Rho::Application.startURI %>" class="ui-btn-left" data-icon="home" data-direction="reverse" rel="external">
      Home
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :stockage %>">

      <% if @message then %>
        <h1> <%=@message %></h1>
      <% else %>
        <br>
      <% end %>
   
      <input type="submit" value="Reconstruire la liste"/>

      <div data-role="fieldcontain" id="option">       
        <label for="objet" class="fieldLabel">Revision des</label>
        <select name="objet" id="objet">
          <option value="Mot" <%= 'selected' if $session[:param][:objet]=="Mot" %>>Mots</option>
          <option value="Forme" <%= 'selected' if $session[:param][:objet]=="Forme" %>>Conjugaisons</option>
        </select>
      </div>
      
      <div data-role="fieldcontain">
        <label for="poids_min" class="fieldLabel">Poids minimum</label>
        <input type="text" id="poids_min" name="poids_min" value="<%= $session[:param][:poids_min]%>" />
      </div>
      <div data-role="fieldcontain">
        <label for="age_rev_min" class="fieldLabel">Non revise depuis</label>
        <input type="number" id="age_rev_min" name="age_rev_min" value="<%= $session[:param][:age_rev_min]%>" /> jour(s)
      </div>

      <div data-role="fieldcontain">
        <label for="err_min" class="fieldLabel">Nombre minimum d'erreurs</label>
        <input type="text" id="err_min" name="err_min" value="<%= $session[:param][:err_min]%>" />
      </div>
      
      <div id=liste_mots <%= 'hidden' if $session[:param][:objet]=="Forme" %>>
        <div data-role="fieldcontain">
          <h1>Restreindre aux themes suivants</h1>
          <% i = 0 %>
          <% Theme.liste.each do |theme| %>
            <label for="themes[<%=i%>]"><input type="checkbox" <%= 'checked' if $session[:param][:themes].include?(theme.object) %> id="themes[<%=i%>]" name="themes[<%=i%>]" value="<%= theme.object %>" /><%= theme.nom %></label>  
            <% i += 1 %>
          <% end %>
        </div>
      </div>
        
      <div id=liste_verbes <%= 'hidden' if $session[:param][:objet]=="Mot" %>>
        <div data-role="fieldcontain">       
          <label for="verbe_id" class="fieldLabel">Verbe</label>
          <select name="verbe_id" id="verbe_id">
            <option value="">Tous les verbes</option>
            <% Verbe.liste.each do |verbe| %>
              <option value="<%= verbe.object %>" <%= 'selected' if $session[:param][:verbes].include?(verbe.object) %> ><%= verbe.infinitif %></option>
            <% end %>
          </select>
        </div>
      </div>
      
    </form>
  </div>
</div>
