<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

  <div data-role="header" data-position="inline">
    <h1 id='langue'><%= $session[:langue] %></h1>
  </div>
  
  <div id='deja_maj' hidden><%= $session[:deja_maj] %></div>
  <div class = 'choix_langue masque'>
    <img id='italien' src='/public/images/italien.png' alt="italien" height='42' width='42' class='ui-btn ui-btn-inline'/>
    <img id='anglais' src='/public/images/anglais.png' alt="anglais" height='42' width='42' class='ui-btn ui-btn-inline'/>
  </div>

  <div data-role="content" class='masque'>
    <ul data-role="listview">
      <li><a class='controle' href="<%= url_for :controller => :Theme, :action => :index %>" data-transition="slide">Thèmes</a></li>
      <li><a class='controle' href="<%= url_for :controller => :Mot, :action => :index %>" data-transition="slideup">Mots</a></li>
      <li><a class='controle' href="<%= url_for :controller => :Verbe, :action => :index %>" data-transition="slideup">Verbes</a></li>
      <li><a class='controle' href="<%= url_for :controller => :Forme, :action => :index %>" data-transition="slideup">Formes verbales</a></li>
      <li><a class='controle' href="<%= url_for :controller => :Revision, :action => :pose_question %>" data-transition="slidedown">Révision</a></li>
      <li><a class='controle' href="<%= url_for :controller => :Parametre, :action => :saisie %>">Paramétrer</a></li>
      <li><a href="<%= url_for :controller => :Application, :action => :quit_app %>">Quitter</a></li>
    </ul>

  </div> 
  
  <div class="chargement" hidden>  
    <p>Mise-à-jour en cours...</p>
  </div>
  
</div>
     