<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @verbe.infinitif %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
      <li>
        <div class="itemLabel">Infinitif</div>
        <div class="itemValue"><%= @verbe.infinitif %></div>
      </li>
       
      <% i = 0 %>   
      <% Forme.find(:all,:conditions => {:verbe_id => @verbe.object},:order => 'code_forme').each do |forme| %>
        <% if Forme::CODES[$session[:langue]][forme.code_forme.to_i][2] != "" then %>
          <h1><%=Forme::CODES[$session[:langue]][forme.code_forme.to_i][2] %></h1>
        <% end %>
        <a href="<%= url_for :controller => Forme, :action => :show, :id => forme.object %>">
          <%= Forme::CODES[$session[:langue]][forme.code_forme.to_i][1] %> <%= forme.langue %>
        </a>
        <br>
        <% i += 1 %>
      <% end %>
      
    </ul>
  </div>

</div>
